.main .header{
     width: 100%;
     height: 200px;
     background-image: url(./header3.png);
     background-size: cover;
}
.main .header .title{
     width: 40%;
     height: 100%;
     display:flex;
     justify-content: center;
     align-items: center;
}
.main .header .title p{
     font-size: 45px;
     font-weight: bold;
}